TEI/Pelyarmenus.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:s="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Roman de Pelyarmenus - ODD</title>
      </titleStmt>
      <publicationStmt>
        <authority>UniGE (Université de Genève, Suisse)</authority>
        <authority>ULB (Université Libre de Bruxelles, Belgique)</authority>
        <authority>FNS (Suisse)</authority>
        <authority>FNRS (Wallonie, Belgique)</authority>
        <authority>ATILF (Analyse et Traitement Informatique de la Langue Française), UMR 7118,
          Nancy-Université (France)</authority>
        <availability status="restricted">
          <p>à l'usage des personnes impliquées dans ce projet</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Le roman se trouve dans 4 manuscrits ici référencés V2 (BnF fr.22549) et V3 (BnF
          fr.22550), B (KBR 9245), X2 (BL Harley 4903) et G (BnF fr.93). Le manuscrit V est notre
          manuscrit de référence, conformément aux décisions prises par les précédents éditeurs et en accord
          (prochain) avec nos études des manuscrits suite à la collation détaillée de ceux-ci.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Les métadonnées</head>
        <p>Cet ODD sert à organiser et documenter notre travail d'édition des 
          documents liés à l'édition fournie par Brodtkorb (§1-134)
          ainsi qu'à l'essai de collation mené sur la transcription que nous avons donnée de l'ensemble du roman, 
        en particulier, pour cet essai de collation, sur les §482-486</p>
      </div>
      <div>
        <head>Le teiHeader</head>
        <p>Le teiHeader s'est présenté de manière assez conforme aux habitudes de la TEI. 
          La section <gi>fileDesc</gi> comporte les informations relatives 
          au <gi>titleStmt</gi>, 
          incluant le <gi>title</gi> et le <gi>respStmt</gi> qui présente chaque membre de l'équipe 
          ainsi que celles et ceux dont l'aide s'est avérée si précieuse à l'établissement de cette édition, 
          à l'<gi>extent</gi> 
          et au <gi>publicationStmt</gi> (dans lequel nous avons repris les différentes 
          d'autorité (<gi>authority</gi>) et les conditions d'accès rendues par l'information <gi>availability</gi>. 
          Le <gi>fileDesc</gi> reprend finalement le <gi>sourceDesc</gi> avec la <gi>listWit</gi> complète de nos <gi>witness</gi>.
          Le <gi>msDesc</gi> en donne la description complète, avec leur <gi>msIdentifier</gi>, leur <gi>settlement</gi>, <gi>repository</gi>
          et <gi>idno</gi>, puis leur <gi>msContents</gi>, centré sur le seul <gi>msItem</gi> lié au roman que nous éditons ici. Nous 
          y avons donc précisé l'étendue exacte dans le manuscrit avec la balise <gi>locus</gi> et le titre donné, ou non, 
          dans le manuscrit en question avec <gi>title</gi>. 
          S'enquit dans le cas des manuscrits de base que nous avons suivis (sous les références V2 et V3) un <gi>physDesc</gi>, que nous 
          avons décidé de donner dans ces deux seuls cas qui nécessitaient une présentation des mains 
          (<gi>handDesc</gi> plutôt que <gi>handNotes</gi>, par souci de cohérence avec <gi>decoDesc</gi>)
          et éléments décoratifs (<gi>decoDesc</gi>) en présence.
          Le <gi>encodingDesc</gi> reprend le <gi>editorialDecl</gi>, avec quelques réflexions liées aux éléments éditoriaux 
          (<gi>correction</gi>, <gi>normalization</gi> et <gi>punctuation</gi>), et le <gi>projectDesc</gi>.
          Un rapide <gi>profileDesc</gi> permet de préciser la langue de travail du texte (<gi>langUsage</gi>)
          avant de préciser les quelques étapes les plus saillantes du travail fourni dans le <gi>revisionDesc</gi>.
        </p>
      </div>
      <div>
        <head>Logiques d'encodage du texte</head>
        <p>Dans le suivi du texte, nous avons souhaité garder trace des décisions éditoriales de Brodtkorb dans le document associé à son édition.
          Celles-ci sont indiquées via les balises <gi>app</gi> et <gi>supplied</gi> avec la valeur d'attribut @resp au nom de
          Brodtkorb pour offrir la trace la plus sûre de ses interventions en amont de notre propre travail de collation</p>
        <p>Dans notre travail de collation, nous avons utilisé les balises <gi>app</gi>, incluant celles de <gi>lem</gi> et <gi>rdg</gi>, 
          mais aussi la balise <gi>supplied</gi> pour pallier aux oublis dans notre manuscrit de base. 
          Dans tous les cas, le témoin cité a été spécifié par l'attribut @wit ou @source dans le cas de la balise <gi>supplied</gi>. 
          Nous avons veillé à distinguer, en les typant avec l'attribut @type, les balises d'apparat selon qu'elles relèvent de variantes 
          ou de corrections du manuscrit de base. 
        Nous avons recouru aux balises <gi>del</gi> et <gi>add</gi> pour les modifications de la main du copiste 
          dans le manuscrit de base. Dans la mesure du possible, nous avons veillé à rendre la réalité du manuscrit de base sur lequel nous
          travaillons, ces corrections ont donc été justifiées par l'attribut @rend ou @place, 
          selon qu'elles relèvent d'exponctuations ou de biffures, d'ajouts marginaux
        et par l'attribut @hand pour spécifier la main à laquelle nous avons jugé bon de rattacher ces modifications.</p> 
          <p>Nous avons souhaité offrir un accès le plus complet possible au manuscrit que nous avons transcrit et avons pour cela balisé les 
          éléments les plus saillants de sa mise en page. Aux balises <gi>pb</gi> qui indiquent les folios travaillés, s'ajoutent celles des 
          <gi>cb</gi> qui gardent trace de la structure en trois colonnes de chaque folio. Nous les avons numérotées b, c, d, e, f; la première étant 
          indiquée par le changement de folio avec <gi>pb</gi>. 
            Nous avons créé une <gi>div</gi> spécifique pour chaque section présentée comme telle dans le manuscrit, indiquée par une rubrique 
            (rendue par la balise <gi>head</gi>, avec la valeur d'attribut @type de rubrique), et une illustration dans l'immense majorité des cas 
            présentés dans notre manuscrit de base (rendue par la balise <gi>figure</gi> dans laquelle un <gi>graphic</gi>, avec son @url vers le site de Gallica,
           et un <gi>figDesc</gi> permettent d'offrir accès à la composante iconographique du manuscrit.
            Le texte est donné, outre ces grandes subdivisions, en paragraphes, eux-mêmes indiqués par une lettrine, de la taille de deux réglures,
            comme nous l'avons systématiquement précisé, dans le manuscrit lui-même. 
            Les différences dans la mise en page du texte ont été indiquées pour chaque manuscrit dans notre travail de collation. Dans ce cas spécifique, 
            présenté en particulier dans le cas du témoin B, une indication d'apparat <gi>app</gi> a été associée à une balise <gi>anchor</gi> 
            propre au paragraphe traité.
            Si nous avons écarté toute indication formelle de décoloration, trou dans le parchemin, variation d'encre anodine, nous avons conservé trace 
            de chacune de ces altérations de la qualité du manuscrit quand elles ne permettaient pas une lecture assurée du texte. Nous les avons rendues 
            par la balise <gi>unclear</gi>, systématiquement précisées par l'attribut @reason selon la cause exacte que nous détections pour cette altération.
            Si cela ne nous paraissait pas possible de trancher, nous l'avons précisé de manière explicite par la valeur de cet attribut uncertain.</p>
          <p>Dans notre analyse d'un roman aussi fourmillant que l'est le "Roman de Pelyarmenus", nous avons décidé de rendre tout l'intérêt et la richesse
            de l'étude des personnages mis en présence et des lieux parcourus par les balises <gi>persName</gi> et <gi>placeName</gi> 
            pour chaque occcurrence présentée. Nous avons à chaque fois précisé par l'attribut @key l'identité exacte, à l'orthographe uniformisée, 
            du personnage ou du lieu à identifier. 
            Au vu du grand nombre de personnages et de lieux mobilisés, sous des
            étiquettes et des titres variables en outre, nous avons souhaité conservé trace des
            identités de chacun-e grâce aux balises <gi>rs</gi>, avec l'attribut @type selon qu'elle vienne
            désigner un person ou un place, pour les personnages ou lieux non-nommés, mais ainsi évoqués 
            (par exemple pour les ducs de Lembourc ou empereurs de Rome, aux identités floues ou multiples selon les cas). 
            Nous y avons intégré le même attribut @key pour en préciser l'identité, 
            créant ainsi une base d'informations stables en vue de l'index nominum et de l'index locorum de notre édition.
            Nous n'avons néanmoins pas intégré cette balise <gi>rs</gi> dans les cas où le personnage en question
            fait l'objet d'une adresse directe dans le cadre d'un dialogue qui le verrait explicitement nommé juste avant ou après. 
            N'ont également pas été indiquées par cette balise les mentions de personnages par
            pronoms ou les groupes de personnages. Les personnages cités de manière abstraite (comme li
            mires, la pucele) et apparus une seule fois n'ont eux aussi pas été référencés de la sorte pour ne pas polluer excessivement l'index.</p>
        <p>Nous avons également souhaité prêter attention aux formes du discours dont procède la trame narrative. 
          Nous avons précisé dans chaque des balises <gi>said</gi> si elles présentaient un discours prononcé 
          à haute voix ou non avec l'attribut @aloud, direct ou non avec l'attribut @direct. 
          Pour attester la complexité des discours, nous avons également recouru à une balise <tag>seg ana="discoursEnchassé"</tag>
          pour indiquer quand un discours est intégré dans un autre discours direct. 
          Dans le même ordre d'idées, nous avons indiqué les insertions dans le discours ou la narration de proverbes par la balise
          <tag>seg ana="proverbe"</tag>. 
          Nous avons également voulu donner du relief aux interventions narratoriales,
          importantes dans ce roman et le reste du cycle des Sept Sages de Rome. 
          Aux balises <gi>said</gi>, nous avons adjoint celle
          <tag>said xml:id="nar"</tag> pour indiquer ces interventions. 
          Extradiégétiques, elles n'ont donc comporté aucune information liée à leur portée à haute voix ou à leur tournure directe ou non.
          Dans les cas particuliers de discours plus étendu, nous avons dû scinder ces balises selon les mentions d'apparat ou les passages 
          au paragraphe suivant par exemple, en recourant à l'attribut @next pour pointer vers
          une balise <gi>said </gi>suivante, indiquée pour sa part par un xml:id auquel est adressée la référence dans la balise précédente.</p>
       </div>
      <div>
        <head>L'ODD</head>
        <schemaSpec ident="septSages" start="TEI">
          <moduleRef key="core"
            include="add cb del graphic head hi name note num p pb resp respStmt rs said title unclear"/>
          <moduleRef key="header"
            include="availability authority change correction encodingDesc editorialDecl
            extent fileDesc handNote hyphenation idno language langUsage licence normalization projectDesc publicationStmt
            punctuation profileDesc revisionDesc segmentation sourceDesc teiHeader titleStmt"/>
          <moduleRef key="figures" include="figDesc figure"/>
          <moduleRef key="linking" include="anchor seg att.global.linking"/>
          <moduleRef key="msdescription"
            include="decoDesc decoNote handDesc locus msContents msDesc msIdentifier msItem 
            physDesc repository"/>
          <moduleRef key="namesdates" include="country persName placeName settlement"/>
          <moduleRef key="tei"/>
          <moduleRef key="textcrit" include="app lem listWit rdg rdgGrp witness"/>
          <moduleRef key="textstructure" include="TEI body text div"/>
          <moduleRef key="transcr" include="handNotes handShift subst supplied"/>
          <moduleRef key="analysis" include="c"/>


          <elementSpec ident="teiHeader" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="fileDesc" minOccurs="1" maxOccurs="1"/>
                <elementRef key="encodingDesc" minOccurs="1" maxOccurs="1"/>
                <elementRef key="profileDesc" minOccurs="1" maxOccurs="1"/>
                <elementRef key="revisionDesc" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="fileDesc" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="titleStmt"/>
                <elementRef key="extent"/>
                <elementRef key="publicationStmt"/>
                <elementRef key="sourceDesc"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="revisionDesc" module="header" mode="change">
            <content>
              <elementRef key="change" minOccurs="1" maxOccurs="unbounded"/>
            </content>
          </elementSpec>

          <elementSpec ident="titleStmt" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="title" minOccurs="1" maxOccurs="1"/>
                <elementRef key="respStmt" minOccurs="5" maxOccurs="15"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="extent" module="header" mode="change">
            <desc>Indication des folios concernés par édition de la partie concernée</desc>
          </elementSpec>

          <elementSpec ident="respStmt" module="core" mode="change">
            <content>
              <sequence>
                <elementRef key="resp" minOccurs="1" maxOccurs="1"/>
                <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="persName" module="namesdates" mode="change">
            <attList>
              <attDef ident="key" mode="change" usage="req">
                <valList type="open"/>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="placeName" module="namesdates" mode="change">
            <desc>Indication des noms de lieux dans la narration sous cette balise en vue de l'index
              de lieux</desc>
            <attList>
              <attDef ident="key" mode="change" usage="req">
                <valList type="open"/>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="publicationStmt" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="authority" minOccurs="2" maxOccurs="5"/>
                <elementRef key="availability" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>



          <elementSpec ident="sourceDesc" module="header" mode="change">
            <content>
              <elementRef key="listWit"/>
            </content>
          </elementSpec>

          <elementSpec ident="listWit" module="textcrit" mode="change">
            <content>
              <elementRef key="witness" minOccurs="1" maxOccurs="unbounded"/>
            </content>
          </elementSpec>

          <elementSpec ident="witness" module="textcrit" mode="change">
            <content>
              <elementRef key="msDesc" minOccurs="1" maxOccurs="6"/>
            </content>
            <constraintSpec ident="xmlId_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:listWit/tei:witness">
                  <sch:assert test="@xml:id" role="error">Please add a @xml:idattribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:id" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="V2"/>
                  <valItem ident="V3"/>
                  <valItem ident="B"/>
                  <valItem ident="X2"/>
                  <valItem ident="G"/>
                  <valItem ident="C"/>
                  <valItem ident="R"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="msDesc" module="msdescription" mode="change">
            <content>
              <sequence minOccurs="0" maxOccurs="1">
                <elementRef key="msIdentifier"/>
                <elementRef key="msContents"/>
              </sequence>
              <sequence minOccurs="0" maxOccurs="1">
                <elementRef key="msIdentifier"/>
                <elementRef key="msContents"/>
                <elementRef key="physDesc"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="msIdentifier" module="msdescription" mode="change">
            <content>
              <sequence>
                <elementRef key="settlement"/>
                <elementRef key="repository"/>
                <elementRef key="idno"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="msItem" module="msdescription" mode="change">
            <content>
              <sequence>
                <elementRef key="locus"/>
                <elementRef key="title"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="physDesc" module="msdescription" mode="change">
            <content>
              <sequence>
                <elementRef key="handDesc"/>
                <elementRef key="decoDesc"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="handDesc" module="msdescription" mode="change">
            <content>
              <elementRef key="handNote" minOccurs="1" maxOccurs="unbounded"/>
            </content>
          </elementSpec>

          <elementSpec ident="decoDesc" module="msdescription" mode="change">
            <content>
              <elementRef key="decoNote" minOccurs="1" maxOccurs="unbounded"/>
            </content>
          </elementSpec>

          <elementSpec ident="handNote" module="header" mode="change">
            <constraintSpec ident="xmlId_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:listWit/tei:witness">
                  <sch:assert test="@xml:id" role="error">Please add a @xml:idattribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:id" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="main1"/>
                  <valItem ident="main2"/>
                </valList>
              </attDef>
              <attDef ident="scriptRef" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="#main1"/>
                  <valItem ident="#main2"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="decoNote" module="msdescription" mode="change">
            <constraintSpec ident="xmlId_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:listWit/tei:witness">
                  <sch:assert test="@xml:id" role="error">Please add a @xml:idattribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:id" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="lettrine2"/>
                  <valItem ident="lettrine5"/>
                  <valItem ident="lettrine6"/>
                  <valItem ident="lettrine7"/>
                </valList>
              </attDef>
              <attDef ident="corresp" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="#lettrine2"/>
                  <valItem ident="#lettrine5"/>
                  <valItem ident="#lettrine6"/>
                  <valItem ident="#lettrine7"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="encodingDesc" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="editorialDecl" minOccurs="1" maxOccurs="1"/>
                <elementRef key="projectDesc" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="profileDesc" module="header" mode="change">
            <content>
              <elementRef key="langUsage"/>
            </content>
          </elementSpec>

          <elementSpec ident="langUsage" module="header" mode="change">
            <content>
              <elementRef key="language"/>
            </content>
          </elementSpec>

          <elementSpec ident="language" module="header" mode="change">
            <attList>
              <attDef ident="ident" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="fro"/>
                  <valItem ident="fr"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="editorialDecl" mode="change">
            <content>
              <sequence>
                <elementRef key="correction" minOccurs="1" maxOccurs="1"/>
                <elementRef key="normalization" minOccurs="1" maxOccurs="1"/>
                <elementRef key="punctuation" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="hi" module="core" mode="change">
            <attList>
              <attDef ident="rend" mode="change" usage="rec">
                <valList>
                  <valItem ident="exp">
                    <desc>indication des chiffres en exposant</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>



          <elementSpec ident="c" module="analysis" mode="change">
            <attList>
              <attDef ident="ana" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="#lettrine2">
                    <desc>Nous indiquons ainsi les lettrines de la taille de deux réglures qui
                      marquent de nouveaux paragraphes</desc>
                  </valItem>
                  <valItem ident="#lettrine5">
                    <desc>Nous indiquons ainsi les lettrines de la taille de cinq réglures qui
                      marquent une nouvelle section, après une rubrique et une enluminure</desc>
                  </valItem>
                  <valItem ident="#lettrine6">
                    <desc>Nous indiquons ainsi les lettrines de la taille de six réglures qui
                      marquent une nouvelle section, après une rubrique et une enluminure</desc>
                  </valItem>
                  <valItem ident="#lettrine7">
                    <desc>Nous indiquons ainsi les lettrines de la taille de sept réglures qui
                      marquent une nouvelle section, après une rubrique et une enluminure</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="figure" module="figures" mode="change">
            <content>
              <elementRef key="graphic"/>
              <elementRef key="figDesc"/>
            </content>
          </elementSpec>

          <elementSpec ident="graphic" module="core" mode="change">
            <attList>
              <attDef ident="url" mode="change" usage="req">
                <desc>Indication de l'URL du folio dans le manuscrit en zoomé sur la figure</desc>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="head" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="rubrique"/>
                </valList>
              </attDef>
              <attDef ident="n" mode="change" usage="req"/>
            </attList>
          </elementSpec>

          <elementSpec ident="p" module="core" mode="change">
            <constraintSpec ident="p_n_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:text//tei:p">
                  <sch:assert test="@n" role="error">Please add a @n
                    attribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
          </elementSpec>

          <elementSpec ident="pb" module="core" mode="change">
            <attList>
              <attDef ident="n" mode="change" usage="req">
                <desc>numéro du folio traité </desc>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="cb" module="core" mode="change">
            <attList>
              <attDef ident="n" mode="change" usage="req">
                <desc>numéro de colone : a, b, c sur le recto et d, e, f sur le verso</desc>
                <valList type="closed" mode="replace">
                  <valItem ident="a"/>
                  <valItem ident="b"/>
                  <valItem ident="c"/>
                  <valItem ident="d"/>
                  <valItem ident="e"/>
                  <valItem ident="f"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="name" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="people"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="note" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="apparat"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="add" module="core" mode="change">
            <attList>
              <attDef ident="place" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="below"/>
                  <valItem ident="above"/>
                  <valItem ident="right margin"/>
                  <valItem ident="left margin"/>
                  <valItem ident="central margin"/>
                  <valItem ident="top margin"/>
                  <valItem ident="bottom margin"/>
                  <valItem ident="overleaf"/>
                </valList>
              </attDef>
              <attDef ident="hand" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="#main1"/>
                  <valItem ident="#main2"/>
                  <valItem ident="#main3"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="del" module="core" mode="change">
            <attList>
              <attDef ident="rend" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="strikethrough"/>
                  <valItem ident="exponctuation"/>
                  <valItem ident="scraped"/>
                </valList>
              </attDef>
              <attDef ident="hand" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="#main1"/>
                  <valItem ident="#main2"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="supplied" module="transcr" mode="change">
            <attList>
              <attDef ident="source" mode="change" usage="req">
                <valList type="open">
                  <valItem ident="#B"/>
                  <valItem ident="#X"/>
                </valList>
              </attDef>
              <attDef ident="resp" mode="change" usage="req">
                <valList type="semi" mode="replace">
                  <valItem ident="#Brodtkorb"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <!-- <elementSpec ident="app" module="textcrit" mode="change"> 
          <content>
            <sequence>
              <elementRef key="lem" minOccurs="1" maxOccurs="1"/>
              <elementRef key="rdg" minOccurs="1" maxOccurs="4"/>
            </sequence>
          </content>
        </elementSpec> -->

          <elementSpec ident="lem" module="textcrit" mode="change">
            <attList>
              <attDef ident="wit" mode="change" usage="rec">
                <valList type="open">
                  <valItem ident="#B"/>
                  <valItem ident="#G"/>
                  <valItem ident="#X2"/>
                  <valItem ident="#V2"/>
                  <valItem ident="#V3"/>
                </valList>
              </attDef>
              <attDef ident="resp" mode="change" usage="opt">
                <valList type="semi" mode="replace">
                  <valItem ident="#Brodtkorb"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="rdg" module="textcrit" mode="change">
            <attList>
              <attDef ident="wit" mode="change" usage="req">
                <valList type="open">
                  <valItem ident="#B"/>
                  <valItem ident="#G"/>
                  <valItem ident="#X2"/>
                  <valItem ident="V2"/>
                  <valItem ident="V3"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="said" mode="change">
            <constraintSpec ident="narrator" scheme="schematron">
              <!-- <constraint>
                <sch:rule context="tei:said[./@who]">
                  <sch:assert test="not(./@direct)">Direct est interdit si c'est le narrateur qui parle</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <constraintSpec ident="narrator2" scheme="schematron">
              <constraint>
                <sch:rule context="tei:said[./@who]">
                  <sch:assert test="not(./@aloud)">Aloud est interdit si c'est le narrateur qui parle</sch:assert>
                </sch:rule>
              </constraint>-->
            </constraintSpec>
            <constraintSpec ident="character_aloud" scheme="schematron">
              <constraint>
                <sch:rule context="tei:said[./not(@who)]">
                  <sch:assert test="./@aloud">Aloud est obligatoire si c'est un personnage qui parle qui parle</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <constraintSpec ident="character_direct1" scheme="schematron">
              <constraint>
                <sch:rule context="tei:said[./not(@who)]">
                  <sch:assert test="./@direct">Direct est obligatoire si c'est un personnage qui parle qui parle</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="aloud" mode="replace" usage="rec">
                <valList type="closed">
                  <valItem ident="true"/>
                  <valItem ident="false"/>
                </valList>
              </attDef>
              <attDef ident="direct" mode="replace" usage="rec">
                <valList type="closed">
                  <valItem ident="true"/>
                  <valItem ident="false"/>
                </valList>
              </attDef>
              <attDef ident="who" mode="change" usage="opt">
                <valList type="semi" mode="replace">
                  <valItem ident="#nar"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="seg" module="linking" mode="change">
            <attList>
              <attDef ident="ana" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="proverbe"/>
                  <valItem ident="discoursEnchassé"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="anchor" module="linking" mode="change">
            <constraintSpec ident="xmlId_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:listWit/tei:witness">
                  <sch:assert test="@xml:id" role="error">Please add a @xml:idattribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:id" mode="change"> </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="unclear" module="core" mode="change">
            <attList>
              <attDef ident="reason" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="erased"/>
                  <valItem ident="faded"/>
                  <valItem ident="fold"/>
                  <valItem ident="hole"/>
                  <valItem ident="rewritten"/>
                  <valItem ident="uncertain"/>
                </valList>
              </attDef>
              <attDef ident="agent" mode="change" usage="opt">
                <valList type="closed">
                  <valItem ident="smoke"/>
                  <valItem ident="mildew"/>
                  <valItem ident="rubbing"/>
                  <valItem ident="copist"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="rs" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="person"/>
                  <valItem ident="place"/>
                </valList>
              </attDef>
              <attDef ident="key" mode="change" usage="req">
                <valList type="open"/>
              </attDef>
            </attList>
          </elementSpec>

          <!-- class d'att -->

          <classSpec ident="att.datable.custom" type="atts" mode="delete"/>
          <classSpec ident="att.datable.iso" type="atts" mode="delete"/>
          <classSpec ident="att.declarable" type="atts" mode="delete"/>
          <classSpec ident="att.ranging" type="atts" mode="delete"/>
          <classSpec ident="att.spanning" type="atts" mode="delete"/>
          <classSpec ident="att.edition" type="atts" mode="delete"/>
          <classSpec ident="att.editLike" type="atts" mode="delete"/>
          <classSpec ident="att.dimensions" type="atts" mode="delete"/>
          <classSpec ident="att.declaring" type="atts" mode="delete"/>
          <classSpec ident="att.fragmentable" type="atts" mode="delete"/>
          <classSpec ident="att.msExcerpt" type="atts" mode="delete"/>

          <classSpec type="atts" ident="att.ascribed.directed" mode="change">
            <attList>
              <attDef ident="toWhom" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec type="atts" ident="att.naming" mode="change">
            <attList>
              <attDef ident="role" mode="delete"/>
              <attDef ident="nymRef" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec type="atts" ident="att.global.rendition" mode="change">
            <attList>
              <attDef ident="style" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec type="atts" ident="att.textCritical" mode="change">
            <attList>
              <attDef ident="varSeq" mode="delete"/>
              <attDef ident="require" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec type="atts" ident="att.global" mode="change">
            <attList>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
            </attList>
          </classSpec>

          <!--<classSpec ident="att.global.linking" type="atts" mode="change">
          <attList>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
          </attList>
        </classSpec>-->

          <classSpec ident="att.global.linking" type="atts" mode="change">
            <attList>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>

              <attDef ident="prev" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="select" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec ident="att.datable" type="atts" mode="change">
            <attList>
              <attDef ident="calendar" mode="delete"/>
              <attDef ident="period" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec ident="att.datable.w3c" type="atts" mode="change">
            <attList>
              <attDef ident="notBefore" mode="delete"/>
              <attDef ident="notAfter" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </classSpec>
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
