TEI-Pelyarmenus/Pelyarmenus.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:s="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Roman de Pelyarmenus - ODD</title>
      </titleStmt>
      <publicationStmt>
        <authority>UniGE (Université de Genève, Suisse)</authority>
        <authority>ULB (Université Libre de Bruxelles, Belgique)</authority>
        <authority>FNS (Suisse)</authority>
        <authority>FNRS (Wallonie, Belgique)</authority>
        <authority>ATILF (Analyse et Traitement Informatique de la Langue Française), UMR 7118,
          Nancy-Université (France)</authority>
        <availability status="restricted">
          <p>à l'usage des personnes impliquées dans ce projet</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Le roman se trouve dans 4 manuscrits ici référencés V2 (BnF fr.22549) et V3 (BnF
          fr.22550), B (KBR 9245), X2 (BL Harley 4903) et G (BnF fr.93). Le manuscrit V est notre
          manuscrit de référence, conformément aux décisions prises par les précédents éditeurs et en accord
          avec nos études des manuscrits suite à la collation détaillée de ceux-ci.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Les métadonnées</head>
        <p>Cet ODD sert à organiser et documenter notre travail d'édition des 
          documents liés à l'édition fournie par Brodtkorb et revue par nos soins (§1-134)
          ainsi qu'à la collation de la suite du roman (§135-841), sur la base du manuscrit de travail, V, 
        et des trois autres témoins systématiquement collationnés. Reste la place des manuscrits C et R, 
        à la place à définir. </p>
      </div>
      <div>
        <head>Le teiHeader</head>
        <p>Le teiHeader s'est présenté de manière assez conforme aux habitudes de la TEI. 
          La section <gi>fileDesc</gi> comporte les informations relatives 
          au <gi>titleStmt</gi>, incluant le <gi>title</gi> et le <gi>respStmt</gi> qui présente chaque membre de l'équipe 
          ainsi que celles et ceux dont l'aide s'est avérée si précieuse à l'établissement de cette édition;
          à l'<gi>extent</gi> 
          et au <gi>publicationStmt</gi> (dans lequel nous avons repris les différentes 
          d'autorité (<gi>authority</gi>) et les conditions d'accès rendues par l'information <gi>availability</gi>. 
          Le <gi>fileDesc</gi> reprend finalement le <gi>sourceDesc</gi> avec la <gi>listWit</gi> complète de nos <gi>witness</gi>.
          Le <gi>msDesc</gi> en donne la description complète, avec leur <gi>msIdentifier</gi>, leur <gi>settlement</gi>, <gi>repository</gi>
          et <gi>idno</gi>, puis leur <gi>msContents</gi>, centré sur le seul <gi>msItem</gi> lié au roman que nous éditons ici. Nous 
          y avons donc précisé l'étendue exacte dans le manuscrit avec la balise <gi>locus</gi> et le titre donné, ou non, 
          dans le manuscrit en question avec <gi>title</gi>. 
          S'ensuit dans le cas des manuscrits de base que nous avons suivis (sous les références V2 et V3) un <gi>physDesc</gi>, que nous 
          avons décidé de donner dans ces deux seuls cas qui nécessitaient une présentation des mains 
          (<gi>handDesc</gi> plutôt que <gi>handNotes</gi>, par souci de cohérence avec <gi>decoDesc</gi>)
          et éléments décoratifs (<gi>decoDesc</gi>) en présence.
          Le <gi>encodingDesc</gi> reprend le <gi>editorialDecl</gi>, avec quelques réflexions liées aux éléments éditoriaux 
          (<gi>correction</gi>, <gi>normalization</gi> et <gi>punctuation</gi>), et le <gi>projectDesc</gi>.
          Un rapide <gi>profileDesc</gi> permet de préciser la langue de travail du texte (<gi>langUsage</gi>)
          avant de préciser les quelques étapes les plus saillantes du travail fourni dans le <gi>revisionDesc</gi>.
        </p>
      </div>
      <div>
        <head>Logiques d'encodage du texte</head>
        <p><title>Apparat critique</title>
          Les variantes retenues dans chacun de nos 3 manuscrits témoins, B, G et X2 
          (nous renvoyons pour cela au protocole de collation) ont été indiquées via les balises,  
          <gi>app</gi>, incluant celles de <gi>lem</gi> pour noter la leçon retenue et <gi>rdg</gi> pour les variantes.
          Une première couche d'apparat concerne les leçons de notre manuscrit de base que nous avons préféré rejeter, 
          formalisée par une balise <gi>rdg</gi> dont le témoin @wit cité est premièrement le manuscrit V. 
          Parmi ces corrections à apporter au manuscrit de base, se trouvent toutes les occurrences d'auto-corrections 
          incluses dans le manuscrit. Nous avons recouru aux balises <gi>del</gi> et <gi>add</gi> pour les modifications de la main du copiste 
          dans le manuscrit de base, ou du second officiant aussi sur ce manuscrit.   
          Dans la mesure du possible, nous avons veillé à rendre la réalité du manuscrit de base sur lequel nous
          avons travaillé, ces corrections ont donc été justifiées par l'attribut @rend ou @place, 
          selon qu'elles relèvent d'exponctuations ou de biffures, d'ajouts marginaux
          et par l'attribut @hand pour spécifier la main à laquelle nous avons jugé bon de rattacher ces modifications.
          Dans cette première couche d'apparat figurent également les balises <gi>supplied</gi> qui viennent 
          pallier aux oublis dans notre manuscrit de base. Elles conserves, par @source, le(s) témoin(s) cité(s). 
          La seconde couche d'apparat présente pour sa part toutes les autres occurrences de variantes lues dans nos manuscrits témoins.
          Les différences dans la mise en page du texte ont été indiquées pour chaque manuscrit dans notre travail de collation. 
          En particulier, nous avons gardé trace des absences ou ajouts de paragraphes, ou d'enluminures, 
          assez spécifiques au témoin B notamment, par le biais 
          d'une balise <gi>note</gi>, au @type "apparat", indiquée après la mention de chaque paragraphe concerné.
        Un autre @type de note a également été introduit pour présenter ce qui relève de "notecritique".</p> 
          <p><title>Mise en page et structuration du texte</title>
            Nous avons souhaité offrir un accès le plus complet possible au manuscrit que nous avons transcrit 
            et avons pour cela balisé les éléments les plus saillants de sa mise en page. Aux balises <gi>pb</gi> qui indiquent les folios 
            présentés, s'ajoutent celles des <gi>cb</gi> qui gardent trace de la structure en trois colonnes de chaque folio. 
            Nous les avons numérotées b, c, d, e, f; la première étant indiquée par le changement de folio avec <gi>pb</gi>. 
            Nous avons créé une <gi>div</gi> spécifique pour chaque section présentée comme telle dans le manuscrit, 
            indiquée par une rubrique (rendue par la balise <gi>head</gi>, avec la valeur d'attribut @type "rubrique"), 
            et une illustration dans l'immense majorité des cas présentés dans notre manuscrit de base 
            (rendue par la balise <gi>figure</gi> dans laquelle un <gi>graphic</gi>, avec son @url vers le site de Gallica 
            de la Bibliothèque nationale de France), et un <gi>figDesc</gi> permettent d'offrir accès à la composante iconographique 
            du manuscrit.
            Ces grandes subdivisions sont également marquées par une lettrine de grande taille, variant de 5 à 7 réglures, 
            comme nous l'avons précisé par la balise <gi>c</gi> à l'attribut @ana, donnant la taille de la lettrine 5, 6 ou 7.  
            Le texte est organisé, outre ces grandes subdivisions, en paragraphes, eux-mêmes indiqués par une lettrine, 
            de la taille de deux réglures dans le manuscrit, 
            comme nous l'avons systématiquement précisé de la même manière que celle décrite ci-dessus.            
            Si nous avons écarté toute indication formelle de décoloration, trou dans le parchemin, variation d'encre anodine, 
            nous avons conservé trace de chacune de ces altérations de la qualité du manuscrit quand elles ne permettaient pas une lecture 
            assurée du texte. Nous les avons rendues par la balise <gi>unclear</gi>, systématiquement précisées par l'attribut @reason 
            selon la cause exacte que nous détections pour cette altération.
            Si cela ne nous paraissait pas possible de trancher, nous l'avons précisé de manière explicite par la valeur de cet attribut 
            "uncertain".</p>
          <p><title>Identification des personnages et lieux et index</title>
            Dans notre analyse d'un roman aussi fourmillant que l'est le <hi rend="italique">Roman de Pelyarmenus</hi>, 
            nous avons décidé de rendre tout l'intérêt et la richesse de l'étude des personnages mis en présence et des lieux parcourus 
            par les balises <gi>persName</gi> et <gi>placeName</gi> pour chaque occurrence présentée. Nous avons à chaque fois précisé 
            par l'attribut @key l'identité exacte, à l'orthographe uniformisée (selon sa forme la plus récurrente dans 
            le manuscrit), du personnage ou du lieu à identifier. <!-- compléter pour l'orthographe des placeName -->
            Au vu du grand nombre de personnages et de lieux mobilisés, sous des
            étiquettes et des titres variables en outre, nous avons souhaité conservé trace des
            identités de chacun-e grâce aux balises <gi>rs</gi>, avec l'attribut @type selon qu'elle vienne
            désigner un personnage ("person") ou un lieu ("place"), pour les personnages ou lieux non-nommés, mais aussi évoqués 
            (par exemple pour les duc de Lembourc ou empereur de Rome, aux identités floues ou multiples selon les cas).
            Nous y avons intégré le même attribut @key pour en préciser l'identité (dans ce cas, la key renvoie soit à 
            l'orthographe majoritaire retenue pour les <gi>persName</gi> soit à l'orthographe des noms données dans 
            les autres romans pour ceux qui n'apparaissaient pas dans le nôtre. Nous avons également nous-mêmes dénommé ou étiqueté 
            les personnages anonymes ou les lieux dits qui apparaissaient à plusieurs reprises dans la narration,
            sous une forme standardisée dans une orthographe moderne.) <!-- compléter pour les placeName -->,
            créant ainsi une base d'informations stables en vue de l'<hi rend="italique">index nominum</hi> et de 
            l'<hi rend="italique">index locorum</hi> de notre édition.
            Nous n'avons néanmoins pas intégré cette balise <gi>rs</gi> dans les cas où le personnage en question
            fait l'objet d'une adresse directe dans le cadre d'un dialogue qui le verrait explicitement nommé juste avant ou après. 
            N'ont également pas été indiquées par cette balise les mentions de personnages par pronoms ou les groupes de personnages. 
            Les personnages et lieux apparus une seule fois n'ont eux aussi pas été référencés de la sorte pour ne pas polluer 
            excessivement les index.</p>
        <p><title>Formes du discours</title>
          Nous avons également souhaité prêter attention aux formes du discours dont procède la trame narrative. 
          Nous avons précisé dans chacune des balises <gi>said</gi> si elles présentaient un discours prononcé 
          à haute voix ou non avec l'attribut @aloud, direct ou non avec l'attribut @direct. 
          Pour attester la complexité des discours et l'importance des échos intertextuels dans ce cyle narratif, mais aussi 
          les jeux de pouvoir entre personnages, nous avons également recouru à une balise <tag>seg ana="discoursEnchassé"</tag>
          pour indiquer quand un discours est intégré dans un autre discours direct. 
          Eu égard à l'importance dont elles peuvent aussi être investies, les lettres et chansons ont également été indiquées par ce
          type de balise <tag>seg ana="lettre"</tag> et <tag>seg ana="chanson"</tag>.
          Dans le même ordre d'idées, et surtout pour illustrer la portée sapientiale du cycle, 
          nous avons indiqué les insertions, dans le discours ou la narration, de proverbes par la balise <tag>seg ana="proverbe"</tag>. 
          Nous avons également voulu donner du relief aux interventions narratoriales,
          importantes dans ce roman et le reste du cycle des Sept Sages de Rome. 
          Aux balises <gi>said</gi>, nous avons adjoint celle
          <tag>said xml:id="nar"</tag> pour indiquer ces interventions. 
          Extradiégétiques, elles n'ont donc comporté aucune information liée à leur portée à haute voix ou à leur tournure directe ou non.
          Dans les cas particuliers de discours plus étendu, nous avons dû scinder ces balises selon les mentions d'apparat ou les passages 
          au paragraphe suivant par exemple, en recourant à l'attribut @next pour pointer vers une balise <gi>said </gi>suivante, 
          indiquée pour sa part par un xml:id auquel est adressée la référence dans la balise précédente.</p>
       </div>
      <div>
        <head>Protocole de collation</head> <!-- à revoir : ici ou pas ? > revoir organisation du propos-->
        <p>Détailler ici les logiques de collation, tout court (ou intégrer présentation donnée par Sophie)
        et critères de mise en page numérique ? </p>
      </div>
      <div>
        <head>L'ODD</head>
        <schemaSpec ident="septSages" start="TEI">
          <moduleRef key="core"
            include="add cb del graphic head hi lg l name note num p pb resp respStmt rs said title unclear"/>
          <moduleRef key="header"
            include="availability authority change correction encodingDesc editorialDecl
            extent fileDesc handNote hyphenation idno language langUsage licence normalization projectDesc publicationStmt
            punctuation profileDesc revisionDesc segmentation sourceDesc teiHeader titleStmt"/>
          <moduleRef key="figures" include="figDesc figure"/>
          <moduleRef key="linking" include="anchor seg att.global.linking"/>
          <moduleRef key="msdescription"
            include="decoDesc decoNote handDesc locus msContents msDesc msIdentifier msItem 
            physDesc repository"/>
          <moduleRef key="namesdates" include="country persName placeName settlement"/>
          <moduleRef key="tei"/>
          <moduleRef key="textcrit" include="app lem listWit rdg rdgGrp witness"/>
          <moduleRef key="textstructure" include="TEI body text div"/>
          <moduleRef key="transcr" include="handNotes handShift subst supplied"/>
          <moduleRef key="analysis" include="c"/>


          <elementSpec ident="teiHeader" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="fileDesc" minOccurs="1" maxOccurs="1"/>
                <elementRef key="encodingDesc" minOccurs="1" maxOccurs="1"/>
                <elementRef key="profileDesc" minOccurs="1" maxOccurs="1"/>
                <elementRef key="revisionDesc" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="fileDesc" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="titleStmt"/>
                <elementRef key="extent"/>
                <elementRef key="publicationStmt"/>
                <elementRef key="sourceDesc"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="revisionDesc" module="header" mode="change">
            <content>
              <elementRef key="change" minOccurs="1" maxOccurs="unbounded"/>
            </content>
          </elementSpec>

          <elementSpec ident="titleStmt" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="title" minOccurs="1" maxOccurs="1"/>
                <elementRef key="respStmt" minOccurs="1" maxOccurs="15"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="extent" module="header" mode="change">
            <desc>Indication des folios concernés par édition de la partie concernée</desc>
          </elementSpec>

          <elementSpec ident="respStmt" module="core" mode="change">
            <content>
              <sequence>
                <elementRef key="resp" minOccurs="1" maxOccurs="1"/>
                <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="persName" module="namesdates" mode="change">
            <attList>
              <attDef ident="key" mode="change" usage="req">
                <valList type="open"/>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="placeName" module="namesdates" mode="change">
            <desc>Indication des noms de lieux dans la narration sous cette balise en vue de l'index
              de lieux</desc>
            <attList>
              <attDef ident="key" mode="change" usage="req">
                <valList type="open"/>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="publicationStmt" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="authority" minOccurs="2" maxOccurs="5"/>
                <elementRef key="availability" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>



          <elementSpec ident="sourceDesc" module="header" mode="change">
            <content>
              <elementRef key="listWit"/>
            </content>
          </elementSpec>

          <elementSpec ident="listWit" module="textcrit" mode="change">
            <content>
              <elementRef key="witness" minOccurs="1" maxOccurs="unbounded"/>
            </content>
          </elementSpec>

          <elementSpec ident="witness" module="textcrit" mode="change">
            <content>
              <elementRef key="msDesc" minOccurs="1" maxOccurs="6"/>
            </content>
            <constraintSpec ident="xmlId_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:listWit/tei:witness">
                  <sch:assert test="@xml:id" role="error">Please add a @xml:idattribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:id" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="V2"/>
                  <valItem ident="V3"/>
                  <valItem ident="B"/>
                  <valItem ident="X2"/>
                  <valItem ident="G"/>
                  <valItem ident="C"/>
                  <valItem ident="R"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="msDesc" module="msdescription" mode="change">
            <content>
              <sequence minOccurs="0" maxOccurs="1">
                <elementRef key="msIdentifier"/>
                <elementRef key="msContents"/>
              </sequence>
              <sequence minOccurs="0" maxOccurs="1">
                <elementRef key="msIdentifier"/>
                <elementRef key="msContents"/>
                <elementRef key="physDesc"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="msIdentifier" module="msdescription" mode="change">
            <content>
              <sequence>
                <elementRef key="settlement"/>
                <elementRef key="repository"/>
                <elementRef key="idno"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="msItem" module="msdescription" mode="change">
            <content>
              <sequence>
                <elementRef key="locus"/>
                <elementRef key="title"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="physDesc" module="msdescription" mode="change">
            <content>
              <sequence>
                <elementRef key="handDesc"/>
                <elementRef key="decoDesc"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="handDesc" module="msdescription" mode="change">
            <content>
              <elementRef key="handNote" minOccurs="1" maxOccurs="unbounded"/>
            </content>
          </elementSpec>

          <elementSpec ident="decoDesc" module="msdescription" mode="change">
            <content>
              <elementRef key="decoNote" minOccurs="1" maxOccurs="unbounded"/>
            </content>
          </elementSpec>

          <elementSpec ident="handNote" module="header" mode="change">
            <constraintSpec ident="xmlId_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:listWit/tei:witness">
                  <sch:assert test="@xml:id" role="error">Please add a @xml:idattribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:id" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="main1"/>
                  <valItem ident="main2"/>
                </valList>
              </attDef>
              <attDef ident="scriptRef" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="#main1"/>
                  <valItem ident="#main2"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="decoNote" module="msdescription" mode="change">
            <constraintSpec ident="xmlId_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:listWit/tei:witness">
                  <sch:assert test="@xml:id" role="error">Please add a @xml:idattribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:id" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="lettrine2"/>
                  <valItem ident="lettrine5"/>
                  <valItem ident="lettrine6"/>
                  <valItem ident="lettrine7"/>
                </valList>
              </attDef>
              <attDef ident="corresp" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="#lettrine2"/>
                  <valItem ident="#lettrine5"/>
                  <valItem ident="#lettrine6"/>
                  <valItem ident="#lettrine7"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="encodingDesc" module="header" mode="change">
            <content>
              <sequence>
                <elementRef key="editorialDecl" minOccurs="1" maxOccurs="1"/>
                <elementRef key="projectDesc" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="profileDesc" module="header" mode="change">
            <content>
              <elementRef key="langUsage"/>
            </content>
          </elementSpec>

          <elementSpec ident="langUsage" module="header" mode="change">
            <content>
              <elementRef key="language"/>
            </content>
          </elementSpec>

          <elementSpec ident="language" module="header" mode="change">
            <attList>
              <attDef ident="ident" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="fro"/>
                  <valItem ident="fr"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="editorialDecl" mode="change">
            <content>
              <sequence>
                <elementRef key="correction" minOccurs="1" maxOccurs="1"/>
                <elementRef key="normalization" minOccurs="1" maxOccurs="1"/>
                <elementRef key="punctuation" minOccurs="1" maxOccurs="1"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="hi" module="core" mode="change">
            <attList>
              <attDef ident="rend" mode="change" usage="req">
                <valList mode="change" type="closed">
                  <valItem ident="exp">
                    <desc>indication des chiffres en exposant</desc>
                  </valItem>
                  <valItem ident="italique">
                    <desc>indication en italique, dans les notes critiques en particulier</desc>
                  </valItem>
                  <valItem ident="latin">
                    <desc>indication des mots latins, à faire figurer en petites capitales</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>



          <elementSpec ident="c" module="analysis" mode="change">
            <attList>
              <attDef ident="ana" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="#lettrine2">
                    <desc>Nous indiquons ainsi les lettrines de la taille de deux réglures qui
                      marquent de nouveaux paragraphes</desc>
                  </valItem>
                  <valItem ident="#lettrine5">
                    <desc>Nous indiquons ainsi les lettrines de la taille de cinq réglures qui
                      marquent une nouvelle section, après une rubrique et une enluminure</desc>
                  </valItem>
                  <valItem ident="#lettrine6">
                    <desc>Nous indiquons ainsi les lettrines de la taille de six réglures qui
                      marquent une nouvelle section, après une rubrique et une enluminure</desc>
                  </valItem>
                  <valItem ident="#lettrine7">
                    <desc>Nous indiquons ainsi les lettrines de la taille de sept réglures qui
                      marquent une nouvelle section, après une rubrique et une enluminure</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="figure" module="figures" mode="change">
            <content>
              <elementRef key="graphic"/>
              <elementRef key="figDesc"/>
            </content>
          </elementSpec>

          <elementSpec ident="graphic" module="core" mode="change">
            <attList>
              <attDef ident="url" mode="change" usage="req">
                <desc>Indication de l'URL du folio dans le manuscrit en zoomé sur la figure</desc>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="head" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="rubrique"/>
                  <valItem ident="explicit"/>
                </valList>
              </attDef>
              <attDef ident="n" mode="change" usage="rec"/>
            </attList>
          </elementSpec>

          <elementSpec ident="p" module="core" mode="change">
            <constraintSpec ident="p_n_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:text//tei:p">
                  <sch:assert test="@n" role="error">Please add a @n
                    attribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
          </elementSpec>

          <elementSpec ident="pb" module="core" mode="change">
            <attList>
              <attDef ident="n" mode="change" usage="req">
                <desc>numéro du folio traité </desc>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="cb" module="core" mode="change">
            <attList>
              <attDef ident="n" mode="change" usage="req">
                <desc>numéro de colone : a, b, c sur le recto et d, e, f sur le verso</desc>
                <valList type="closed" mode="replace">
                  <valItem ident="a"/>
                  <valItem ident="b"/>
                  <valItem ident="c"/>
                  <valItem ident="d"/>
                  <valItem ident="e"/>
                  <valItem ident="f"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="name" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="people"/>
                </valList>
              </attDef>
              <attDef ident="key" mode="change" usage="req">
                <valList type="open"/>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="note" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="apparat"/>
                  <valItem ident="notecritique"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="add" module="core" mode="change">
            <attList>
              <attDef ident="place" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="below"/>
                  <valItem ident="above"/>
                  <valItem ident="right margin"/>
                  <valItem ident="left margin"/>
                  <valItem ident="central margin"/>
                  <valItem ident="top margin"/>
                  <valItem ident="bottom margin"/>
                  <valItem ident="overleaf"/>
                </valList>
              </attDef>
              <attDef ident="hand" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="#main1"/>
                  <valItem ident="#main2"/>
                  <valItem ident="#main3"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="del" module="core" mode="change">
            <attList>
              <attDef ident="rend" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="strikethrough"/>
                  <valItem ident="exponctuation"/>
                  <valItem ident="scraped"/>
                  <valItem ident="exponctuation+strikethrough"/>
                  <valItem ident="faded"/>
                </valList>
              </attDef>
              <attDef ident="hand" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="#main1"/>
                  <valItem ident="#main2"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="supplied" module="transcr" mode="change">
            <attList>
              <attDef ident="source" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="#B"/>
                  <valItem ident="#G"/>
                  <valItem ident="#X2"/>
                </valList>
              </attDef> 
              <attDef ident="resp" mode="delete"/>
            </attList>
          </elementSpec>

          <!-- <elementSpec ident="app" module="textcrit" mode="change"> 
          <content>
            <sequence>
              <elementRef key="lem" minOccurs="1" maxOccurs="1"/>
              <elementRef key="rdg" minOccurs="1" maxOccurs="4"/>
            </sequence>
          </content>
        </elementSpec> -->

          <elementSpec ident="lem" module="textcrit" mode="change">
            <attList>
              <attDef ident="wit" mode="change" usage="opt">
                <valList type="closed">
                  <valItem ident="#B"/>
                  <valItem ident="#G"/>
                  <valItem ident="#X2"/>
                  <valItem ident="#V2"/>
                  <valItem ident="#V3"/>
                </valList>
              </attDef>
              <attDef ident="source" mode="change" usage="opt"><!-- POURCC : commenter cette modification de l'ODD : source 
              si pas de wit car notre autorité-->
                <valList type="closed">
                  <valItem ident="éd."/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="rdg" module="textcrit" mode="change">
            <attList>
              <attDef ident="wit" mode="change" usage="req">
                <valList type="closed">
                  <valItem ident="#B"/>
                  <valItem ident="#G"/>
                  <valItem ident="#X2"/>
                  <valItem ident="V2"/>
                  <valItem ident="V3"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="said" mode="change">
            <constraintSpec ident="narrator" scheme="schematron">
              <!-- <constraint>
                <sch:rule context="tei:said[./@who]">
                  <sch:assert test="not(./@direct)">Direct est interdit si c'est le narrateur qui parle</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <constraintSpec ident="narrator2" scheme="schematron">
              <constraint>
                <sch:rule context="tei:said[./@who]">
                  <sch:assert test="not(./@aloud)">Aloud est interdit si c'est le narrateur qui parle</sch:assert>
                </sch:rule>
              </constraint>-->
            </constraintSpec>
            <constraintSpec ident="character_aloud" scheme="schematron">
              <constraint>
                <sch:rule context="tei:said[./not(@who)]">
                  <sch:assert test="./@aloud">Aloud est obligatoire si c'est un personnage qui parle qui parle</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <constraintSpec ident="character_direct1" scheme="schematron">
              <constraint>
                <sch:rule context="tei:said[./not(@who)]">
                  <sch:assert test="./@direct">Direct est obligatoire si c'est un personnage qui parle qui parle</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="aloud" mode="replace" usage="rec">
                <valList type="closed">
                  <valItem ident="true"/>
                  <valItem ident="false"/>
                </valList>
              </attDef>
              <attDef ident="direct" mode="replace" usage="rec">
                <valList type="closed">
                  <valItem ident="true"/>
                  <valItem ident="false"/>
                </valList>
              </attDef>
              <attDef ident="who" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="#nar"/>
                </valList>
              </attDef>
              <attDef ident="rendition" mode="replace" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="dialogue"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="seg" module="linking" mode="change">
            <attList>
              <attDef ident="ana" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="proverbe"/>
                  <valItem ident="discoursEnchassé"/>
                  <valItem ident="lettre"/>
                  <valItem ident="chanson"/>
                </valList>
              </attDef>
              <attDef ident="rendition" mode="replace" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="dialogue"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="anchor" module="linking" mode="change">
            <constraintSpec ident="xmlId_check" scheme="schematron">
              <constraint>
                <sch:rule context="tei:listWit/tei:witness">
                  <sch:assert test="@xml:id" role="error">Please add a @xml:idattribute</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:id" mode="change"> </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="unclear" module="core" mode="change">
            <attList>
              <attDef ident="reason" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="erased"/>
                  <valItem ident="faded"/>
                  <valItem ident="fold"/>
                  <valItem ident="hole"/>
                  <valItem ident="rewritten"/>
                  <valItem ident="transparence"/>
                  <valItem ident="uncertain"/>
                  <valItem ident="stain"/>
                </valList>
              </attDef>
              <attDef ident="agent" mode="change" usage="opt">
                <valList type="closed">
                  <valItem ident="smoke"/>
                  <valItem ident="mildew"/>
                  <valItem ident="rubbing"/>
                  <valItem ident="copist"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="rs" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="replace" usage="req">
                <valList type="closed">
                  <valItem ident="person"/>
                  <valItem ident="place"/>
                </valList>
              </attDef>
              <attDef ident="key" mode="change" usage="req">
                <valList type="open"/>
              </attDef>
            </attList>
          </elementSpec>

          <!-- class d'att -->

          <classSpec ident="att.datable.custom" type="atts" mode="delete"/>
          <classSpec ident="att.datable.iso" type="atts" mode="delete"/>
          <classSpec ident="att.declarable" type="atts" mode="delete"/>
          <classSpec ident="att.ranging" type="atts" mode="delete"/>
          <classSpec ident="att.spanning" type="atts" mode="delete"/>
          <classSpec ident="att.edition" type="atts" mode="delete"/>
          <classSpec ident="att.editLike" type="atts" mode="delete"/>
          <classSpec ident="att.dimensions" type="atts" mode="delete"/>
          <classSpec ident="att.declaring" type="atts" mode="delete"/>
          <classSpec ident="att.fragmentable" type="atts" mode="delete"/>
          <classSpec ident="att.msExcerpt" type="atts" mode="delete"/>

          <classSpec type="atts" ident="att.ascribed.directed" mode="change">
            <attList>
              <attDef ident="toWhom" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec type="atts" ident="att.naming" mode="change">
            <attList>
              <attDef ident="role" mode="delete"/>
              <attDef ident="nymRef" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec type="atts" ident="att.global.rendition" mode="change">
            <attList>
              <attDef ident="style" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec type="atts" ident="att.textCritical" mode="change">
            <attList>
              <attDef ident="varSeq" mode="delete"/>
              <attDef ident="require" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec type="atts" ident="att.global" mode="change">
            <attList>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
            </attList>
          </classSpec>

          <!--<classSpec ident="att.global.linking" type="atts" mode="change">
          <attList>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
          </attList>
        </classSpec>-->

          <classSpec ident="att.global.linking" type="atts" mode="change">
            <attList>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>

              <attDef ident="prev" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="select" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec ident="att.datable" type="atts" mode="change">
            <attList>
              <attDef ident="calendar" mode="delete"/>
              <attDef ident="period" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec ident="att.datable.w3c" type="atts" mode="change">
            <attList>
              <attDef ident="notBefore" mode="delete"/>
              <attDef ident="notAfter" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </classSpec>
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
